{{!-- Footer --}}
<footer class="page-footer font-small black pt-4">

    {{!-- Footer Links --}}
    <div class="container-fluid text-center text-md-left">
  
      {{!-- Grid row --}}
      <div class="row">
  
        {{!-- Grid column --}}
        <div class="col-md-6 mt-md-0 mt-3">
  
          {{!-- Content --}}
          <h5 class="text-uppercase">Why choosing Crytofy?</h5>
          <p>Self-managed stocks</p>
  
        </div>
        {{!-- Grid column --}}
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        {{!-- Grid column --}}
        <div class="col-md-3 mb-md-0 mb-3">
  
          {{!-- Links --}}
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About Crypto</a>
            </li>
            <li>
              <a href="#!">Mission Statement</a>
            </li>
            <li>
              <a href="#!">Invest in Crypto</a>
            </li>
            <li>
              <a href="#!">Help Desk</a>
            </li>
          </ul>
  
        </div>
        {{!-- Grid column --}}
  
        {{!-- Grid column --}}
        <div class="col-md-3 mb-md-0 mb-3">
  
          {{!-- Links --}}
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Term of Use</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
              <a href="#!">Code of Conduct</a>
            </li>
            <li>
              <a href="#!">Site Map</a>
            </li>
          </ul>
  
        </div>
        {{!-- Grid column --}}
        <div class="col-md-3 mb-md-0 mb-3">
            <div class="column">
                <span class="category-title">Get The App</span>
                <span class="app-download"><a href=""><img src="/stylesheets/Image/apple_Image_Badge.png"></a></span>
                <span class="app-download"><a href=""><img src="/stylesheets/Image/google_Image_Badge.png"></a></span>
            </div>
      </div>
      {{!-- Grid row --}}
  
    </div>
    {{!-- Footer Links --}}
  
    {{!-- Copyright --}}
    <div class="footer-copyright text-center">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> Crytofy.com</a>
    </div>
    {{!-- Copyright --}}
    </div>
  </footer>