<div class="col-sm-3 bg-dark text-white">
  <h2>Market News</h2>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Headline</th>
      </tr>
    </thead>
    {{#each data}}
    <tr>
      <td>{{this.title}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</div>