

<div class="container-fluid">
  <div class="row justify-content-between">
    {{!-- leftSide --}}
   {{> leftSide data=data.news}}
    <!-- Main -->
   
    <!-- Right Side -->
  {{> rightSide data=data.stock}}
  </div>
</div>

