  {{>header}}

<div class="container-fluid">
  <div class="row justify-content-between">
    {{!-- leftSide --}}
    {{> leftSide}}
    <!-- Main -->
   
    <!-- Right Side -->
    {{> rightSide}}
  </div>
</div>

  {{> footer}}