  {{> header}}

<div class="container-fluid">
  <div class="row justify-content-between">
    {{!-- Leftside --}}
    {{>leftSide}}
    <!-- Main -->
    {{>centre}}
    <!-- Right Side -->
    {{>rightSide}}
  </div>
</div>

{{> footer}}