<div class="container-fluid">
  <div class="row justify-content-between">
    
    {{> leftSide data=data.news}}
    <!-- Main -->
    {{> centre}}
    <!-- Right Side --> 
   {{> rightSide data=data.stock}}
  </div>
</div>