    {{>header}}

<div class="container-fluid">
  <div class="row justify-content-between">
    {{!-- Leftside --}}
    {{>leftSide}}
    <!-- Main -->
      <div class="container col-sm-6">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
    <!-- Right Side -->
    {{> rightSide}}
  </div>
</div>

  {{> footer}}