form.signup,
form.login {
  margin-top: 50px;
}

img{
  width: 100px;
  height: 50%;
}
.page-footer {
  flex-shrink: 0;
}
.navbar {
  background-color: #182b40;
  color: white;
}

.top-button{
  display: flex;
  justify-content: end;
}
a.navbar-brand{
  color: orange;
}
a.nav-link{
  color: orange;
}

.second-navbar{
  justify-content: space-around;
}



footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #231f20
}


a.button1{
  background-color: black;
  color: white;
  padding:0.35em 1.2em;
  border:0.1em solid back;
  margin: 0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300; 
  text-align:center;
  transition: all 0.2s;
  display:inline-block;
}

a.button1:hover{ 
  color:#000000;
  background-color:#FFFFFF;
}  
@media all and (max-width:30em){
a.button1{
  display:block;
  margin:0.4em auto;
}

.container-2 {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

/* .table-image {
  td, th {
    vertical-align: middle;
  }
} */
